<div class="container pt-4">
    <div class="row">
        <div class="col">
            <iframe width="560" height="315"
                src="https://www.youtube.com/embed/videoseries?si=4QAf5tAPHk5TpyT6&amp;list=PL6W47aln8JRff1yiLmk3FPZcOkhgKlflu"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
        </div>
        <div class="col">
            <h1>WHERE YOU CAN SEE MORE</h1>
            <p>Keypark Zoo is a fictional zoo built in the game Planet Zoo. It's being built during livestreams on the
                YouTube Channel justGoron.</p>
        </div>
    </div>
</div>