<div class="component-body">
    <h1>INDIGENOUS TRIBES IN NEED</h1>
            <p>This website is still under construction, but I'm putting some sources in here of the real life stories the Ufunguo tribe is based on. 
                <br> This is a real issue IRL, not only in Africa, but also Asia.
                <br> Here are some interesting sources:
            </p>
            <ul>
                <li><a href="https://www.theguardian.com/global-development/2016/aug/28/exiles-human-cost-of-conservation-indigenous-peoples-eco-tourism" target="_blank">Article by the Guardian </a></li>
                <li><a href="https://www.euronews.com/green/2020/07/20/the-dark-side-of-forest-conservation-the-sengwer-tribe-and-embobut-forest" target="_blank">The dark side of forest conservation: The Sengwer tribe and Embobut Forest</a></li>
                <li><a href="https://www.survivalinternational.org/news/13121" target="_blank">Kenya: Indigenous Sengwer say Western conservation funding will lead to “genocide“</a></li>
                <li><a href="https://minorityrights.org/minorities/sengwer/" target="_blank">Minority rights: Sengwer</a></li>
                <li><a href="https://www.forestpeoples.org/en/featured-topic/illegal-and-forceful-evictions-sengwer-indigenous-people-their-ancestral-lands" target="_blank">Illegal and forceful evictions of the Sengwer indigenous people from their ancestral lands in the Cherangany Hills, Kenya</a></li>
                <!-- <li><a href="" target="_blank">Article</a></li> -->
            </ul>
</div>
