$primary: #1abc9c;
$secondary:#2e524a;
// $success:       $green;
// $info:          $cyan;
// $warning:       $yellow;
// $danger:        $red;
// $light:         $gray-100;
// $dark:          $gray-900;

$font-family-sans-serif: Poppins, Roboto;
$font-family-monospace: Poppins, Roboto;