h1 {
    color: #ff8203;
    font-weight: 900;
    font-size: 60px;
    line-height: 100px;
}

h2{
    color: #ff8203;
    font-weight: 900;

}


.background {
    background-color: #bdf4fb;
    height: 100%;
}

.page-section {
    background-color: white;
    border-radius: 25px;
    padding-left: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 25px;
    margin-bottom: 25px;
}

.yak-logo{
    height: 100px;
}

a {
    color: #ff8203;}