<div class="background">
    <div class="container pt-4">
        <div class="row page-section">
            <div class="col-10">
                <h1>
                    You Are Key!
                </h1> 
            </div>
            <div class="col-2">
                <img src="assets/YAK/YAK-logo-no-text.webp" alt="yak logo" class="yak-logo">
            </div>
            
        </div>
        <div class="page-section">
            <p>This page will be deticted to YAK, a non-profit charity inside of Keypark Zoo. YAK is deticated to raise money and awareness for all the animals and ecosystems represented in our zoo. This is accomplished through memberships, dontaions and fundraisers.</p>
            <p>YAK is a great way to get involved with the zoo and help us to continue to provide the best care for our animals and to help us to continue to educate the public about the importance of conservation.</p>
            <p>You can find us in the zoo inside Taala Village to learn more, and remember: You Are Key!</p>
            <p>More information about YAK will be available soon.</p>
        </div>
        <div class="page-section">
            <h2>Become a Member today!</h2>
            <p>YouTube Members of justGoron will automatically be YAK members! Get your channel membership today! <a href="https://www.youtube.com/channel/UCeIRYvTZwnxThWl3gvLQaQQ/join" target="_blank">Get your membership here</a>!</p>
            
        </div>
        <div class="page-section">
            <h2>Support our fundraiser!</h2>
            <p>During the month of April, YAK is raising funds in support of the WWF-UK to celebrate Earth Day 2024! <a href="https://wwf-uk-wild-livestreaming.justgiving-sites.com/fundraising/earth-day-wwf-charity-stream" target="_blank">Support us here</a>!</p>
        </div>
        <div class="page-section">
            <h2>Past fundraisers</h2>
            <p>YAK has raised funds for the following organizations:</p>
            <ul>
                <li> September 16th 2023 | To celebrate International Red Panda Day, YAK raised $184 for the Red Panda Network, to help save this Keystone Species. </li>
            </ul>
        </div>
    </div>
</div>
