<div class="container pt-4">
    <div class="loadercontainer" *ngIf="loading">
        <div class="loader"></div>
    </div>
    <div *ngIf="!loading">
        <section class="animal-section">
            <div class="row">
                <h2>Meet our animals: </h2>
            </div>
            <div class="row">
                <div class="col-7"><a><input type="text" placeholder="Search..." class="animal-search" #animalSearch
                            (keyup)="setAnimalSearch(animalSearch.value)"></a></div>
                <div class="col-5">
                    <div class="dropdown">
                        <button class="dropbtn">Filter by region</button>
                        <div class="dropdown-content">
                            <div *ngFor="let location of locations">
                                <input type="checkbox" (change)="updateLocationFilter(location)">
                                <label> &nbsp; {{location}}</label><br>
                            </div>
                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="dropbtn">Filter by zoo area</button>
                        <div class="dropdown-content">
                            <div *ngFor="let area of zooAreas">
                                <input type="checkbox" (change)="updateAreaFilter(area)">
                                <label> &nbsp; {{area}}</label><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <article class="animal-list">
                    <app-animal-card *ngFor="let animal of filteredAnimals" [index]="getAnimalIndex(animal)"
                        [animal]="animal"></app-animal-card>
                </article>
                <article *ngIf="filteredAnimals.length<1">
                    <p>nothing found for search "{{animalSearch.value}}"
                        <a *ngIf="locationfilter.length>0||areafilter.length>0">and filters
                            <a
                                *ngFor="let location of locationfilter.concat(areafilter) let first = first; let last = last "><a
                                    *ngIf="!first&&!last">, </a><a *ngIf="last&&!first"> & </a>{{location}}</a>
                        </a>
                    </p>
                </article>
            </div>




        </section>

    </div>
</div>