<div class="container pt-4">
    <div class="loadercontainer" *ngIf="loading">
        <div class="loader"></div>
    </div>
    <div *ngIf="!loading">
        <section class="animal-section">
            <div class="row">
                <h2>Meet our animals: </h2>
            </div>
            <div class="row">
                <div class="col"><a><input type="text" placeholder="Search..." class="animal-search" #animalSearch
                            (keyup)="setAnimalSearch(animalSearch.value)"></a>
                    <!-- <div class="dropdown col-3">
                        <button class="dropbtn">Filter by region</button>
                        <div class="dropdown-content">
                            <div *ngFor="let location of locations">
                                <input type="checkbox" (change)="updateLocationFilter(location)">
                                <label> &nbsp; {{location}}</label><br>
                            </div>
                        </div>
                    </div>
                    <div class="dropdown col-3">
                        <button class="dropbtn">Filter by zoo area</button>
                        <div class="dropdown-content">
                            <div *ngFor="let area of zooAreas">
                                <input type="checkbox" (change)="updateAreaFilter(area)">
                                <label> &nbsp; {{area}}</label><br>
                            </div>
                        </div>
                    </div> -->
                        <div class="dropdown">
                            <button class="btn btn-primary text-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                              Filter
                            </button>
                            <ul class="dropdown-menu">
                                <li><span class="dropdown-item-text">Area:</span></li>
                                <div *ngFor="let area of zooAreas">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" (change)="updateAreaFilter(area)" value="" id="flexCheckArea" >
                                        <label class="form-check-label" for="flexCheckIndeterminate">
                                            {{area}}
                                        </label>
                                      </div>
                                </div>
                                <li><span class="dropdown-item-text">Location:</span></li>
                                <div *ngFor="let location of locations">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" (change)="updateLocationFilter(location)" value="" id="flexCheckLocation" >
                                        <label class="form-check-label" for="flexCheckIndeterminate">
                                            {{location}}
                                        </label>
                                      </div>
                                </div>
                            </ul>
                          </div>
                    </div>
</div>
            <div class="row">
                <article class="animal-list col-sm-12 col-md-6 col-lg-4 col-xxl-3" *ngFor="let animal of filteredAnimals">
                    <app-animal-card [index]="getAnimalIndex(animal)"
                        [animal]="animal"></app-animal-card>
                </article>
                <article *ngIf="filteredAnimals.length<1">
                    <p>nothing found for search "{{animalSearch.value}}"
                        <a *ngIf="locationfilter.length>0||areafilter.length>0">and filters
                            <a
                                *ngFor="let location of locationfilter.concat(areafilter) let first = first; let last = last "><a
                                    *ngIf="!first&&!last">, </a><a *ngIf="last&&!first"> & </a>{{location}}</a>
                        </a>
                    </p>
                </article>
            </div>




        </section>

    </div>
</div>