<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col">
                <a routerLink="/home">
                    <h1 class="logo">KEYPARK ZOO</h1>
                </a>
            </div>
            <div class="col-8">
                <div class="dropdown-banner">
                    <a routerLink="/park" class="dropbtn">Park
                        <i class="fa fa-caret-down"></i>
                    </a>
                    <div class="dropdown-banner-content">
                        <div class="container">
                            <div class="row">
                                <a routerLink="/park/animals">Animals</a>
                                <a routerLink="/park/map">Map</a>
                                <a routerLink="/park/impression">Impression</a>
                            </div>
                        </div>
                    </div>
                </div> 
                <div class="dropdown-banner">
                    <a routerLink="/info" class="dropbtn">Visitor Info
                        <i class="fa fa-caret-down"></i>
                    </a>
                    <div class="dropdown-banner-content">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <a routerLink="/info/adres">Adress & Route</a>
                                    <a routerLink="/info/tickets">Tickets & Reservations</a>
                                    <a routerLink="/info/subscriptions">Subscriptions</a>
                                </div>
                                <div class="col">
                                    <a routerLink="/info/practical">Practical Information</a>
                                    <a routerLink="/info/contact">Contact</a>
                                    <a routerLink="/info/youtube"> YouTube</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="dropdown-banner">
                    <a routerLink="/education" class="dropbtn">Education
                        <i class="fa fa-caret-down"></i>
                    </a>
                    <div class="dropdown-banner-content">
                        <div class="container">
                            <div class="row">
                                <a routerLink="/education/ufunguo">Ufunguo</a>
                                <a routerLink="/education/no-panda-pets">No Panda Pets</a>
                                <a routerLink="/education/local">Local initiatives</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dropdown-banner">
                    <a routerLink="/groups" class="dropbtn">Groups
                        <i class="fa fa-caret-down"></i>
                    </a>
                    <div class="dropdown-banner-content">
                        <div class="container">
                            <div class="row">
                                <a routerLink="/groups/business">Business</a>
                                <a routerLink="/groups/schools">Schools</a>
                                <a routerLink="/groups/birthdays">Birthdays</a>
                            </div>
                        </div>
                    </div>
                </div> 
                <a routerLink="/info/tickets" class="ticketbtn"> tickets </a>
            </div>
        </div>
    </div>
</div>
<div style="text-align: center; font-weight: 700; background-color: rgb(254, 204, 22); padding: 10px;">
   <img src="assets/construction.svg" style="height: 25px;"/> UNDER CONSTRUCTION
</div>
<router-outlet></router-outlet>