<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col">
                <a href="/home">
                    <h1 class="logo">KEYPARK ZOO</h1>
                </a>
            </div>
            <div class="col-8">
                <div class="dropdown-banner">
                    <a href="/park" class="dropbtn">Park
                        <i class="fa fa-caret-down"></i>
                    </a>
                    <div class="dropdown-banner-content">
                        <div class="container">
                            <div class="row">
                                <a href="/park/animals">Animals</a>
                                <a href="/park/map">Map</a>
                                <a href="/park/impression">Impression</a>
                            </div>
                        </div>
                    </div>
                </div> 
                <div class="dropdown-banner">
                    <a href="/info" class="dropbtn">Visitor Info
                        <i class="fa fa-caret-down"></i>
                    </a>
                    <div class="dropdown-banner-content">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <a href="/info/adres">Adress & Route</a>
                                    <a href="/info/tickets">Tickets & Reservations</a>
                                    <a href="/info/subscriptions">Subscriptions</a>
                                </div>
                                <div class="col">
                                    <a href="/info/practical">Practical Information</a>
                                    <a href="/info/contact">Contact</a>
                                    <a href="/info/youtube">YouTube</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="dropdown-banner">
                    <a href="/education" class="dropbtn">Education
                        <i class="fa fa-caret-down"></i>
                    </a>
                    <div class="dropdown-banner-content">
                        <div class="container">
                            <div class="row">
                                <a href="/education/ufunguo">Ufunguo</a>
                                <a href="/education/no-panda-pets">No Panda Pets</a>
                                <a href="/education/local">Local initiatives</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dropdown-banner">
                    <a href="/groups" class="dropbtn">Groups
                        <i class="fa fa-caret-down"></i>
                    </a>
                    <div class="dropdown-banner-content">
                        <div class="container">
                            <div class="row">
                                <a href="/groups/business">Business</a>
                                <a href="/groups/schools">Schools</a>
                                <a href="/groups/birthdays">Birthdays</a>
                            </div>
                        </div>
                    </div>
                </div> 
                <a href="/info/tickets" class="ticketbtn"> tickets </a>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>