.logo{
    background-color: var(--keyparkGreen);
    border-radius: 100px;
    box-shadow: inset -3px -3px var(--keyparkGreenDark), inset 2px 2px var(--keyparkGreenLight);
    padding-left: 25px;
}

.logo:hover{
    background-color: var(--keyparkGreenLight);
    color: white;
}




