<div class="background">
    <div class="container pt-4">
        <div class="row page-section intro-section">
            <div class="col-12 col-lg-7 intro-copy">
                <h1>
                    You Are Key!
                </h1>
                <p>Welcome to YAK, a non-profit charity inside of Keypark Zoo. YAK is dedicated to raise money and awareness for all the animals and ecosystems represented in our zoo.</p>
                <p>YAK is a great way to get involved with the zoo and help us to continue to provide the best care for our animals and to help us to continue to educate the public about the importance of conservation.</p>
                <p>You can find us in the zoo inside Taala Village to learn more, and remember: You Are Key!</p>
            </div>
            <div class="col-12 col-lg-5 intro-logo-wrap">
                <img src="assets/YAK/YAK-logo-no-text.webp" alt="yak logo" class="yak-logo">
            </div>
        </div>

        <div class="page-section">
            <h2>Past fundraisers</h2>
            <div class="table-responsive">
                <table class="table fundraiser-table">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Celebration</th>
                            <th scope="col">Raised</th>
                            <th scope="col">Cause</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td data-label="Date">September 16, 2023</td>
                            <td data-label="Celebration">International Red Panda Day</td>
                            <td data-label="Raised"><span class="amount-pill">$ 184</span></td>
                            <td data-label="Cause">Red Panda Network</td>
                        </tr>
                        <tr>
                            <td data-label="Date">April 20, 2024</td>
                            <td data-label="Celebration">Earth Day</td>
                            <td data-label="Raised"><span class="amount-pill">£ 108</span></td>
                            <td data-label="Cause">WWF UK</td>
                        </tr>
                        <tr>
                            <td data-label="Date">September 20, 2025</td>
                            <td data-label="Celebration">International Red Panda Day</td>
                            <td data-label="Raised"><span class="amount-pill">$ 1050</span></td>
                            <td data-label="Cause">Red Panda Network</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="page-section">
            <h2>Projects</h2>
            <ul>
                <li> Red Panda Network </li>
                <li> WWF UK </li>
            </ul>
        </div>
    </div>
</div>
