<div class="container pt-4">
    <p>page-park works!</p>
    <ul>
                <li><a href="/#/park/animals">Animals</a></li>
                <li><a href="/#/park/map">Map</a></li>
                <li><a href="/#/park/impression">Impression</a></li>
    </ul>
    <h2>random animal:</h2>
    <div class="w-25">
        <app-animal-card [index]="animalsService.getRandomAnimalIndex()"
        [animal]="animalsService.animals[animalsService.getRandomAnimalIndex()]"></app-animal-card>
    </div>

</div>