<div class="home-banner">
    <br><br><br>
    <h1 style="text-align:center; color:white">HOME BANNER</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-md">
            <h2>Welcome to Keypark Zoo!</h2>
            <p>the hit series, now has a website! :D</p>
            <p>While the website is still a work in progress, you can check out livestreams of making this zoo here:</p>
      <button class="ticketbtn" onclick=" window.open('https://www.youtube.com/playlist?list=PL6W47aln8JRff1yiLmk3FPZcOkhgKlflu','_blank')"> Watch on YouTube</button>
        </div>
        <div class="col-md">
            <h2>Plan your visit!</h2>
            <p>Actually, you can't...</p>
        </div>
        <div class="col-md">
            <h2>Have you met this animal?</h2>
            <app-animal-card [index]="animalsService.getRandomAnimalIndex()"
            [animal]="animalsService.animals[animalsService.getRandomAnimalIndex()]"></app-animal-card>
        </div>
    </div>
</div>